<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page__header mb-5">
                    <div class="title mb-4">
                        <h1>Enjoy our reviews.</h1>
                    </div>
                    <div class="copy">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <app-cards [items]="newMovies"></app-cards>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>